1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

In [49]:
# Fist print error we have occure because we have defind print name as a variable this reson you give print error
print = 10
print("Hello")

TypeError: ignored

In [50]:
del print

In [51]:
#here print variable assin as interger 10

In [52]:
# three variable try to same value 
a,b,c = 10
#here need  a defind three same value seprated by ,
#for ex
a,b,c = 1,2,1
#or defind three variable equal to string int or blooen ,floot value
a = b = c = 10

TypeError: ignored

In [53]:
a,b,c = 1,2,1
a=b=c =10

In [55]:
# int(input) error we have found
a= int(input())

12.3

ValueError: ignored

In [57]:
#Here we need a put integer value not float
A= int(input())

12

In [58]:
#Here we have ocur error to opration using subtraction
Birth_year = input()
age = 2022 - Birth_year
#here Birth_year assign as string fist we need to convert interger or float
#thre are two diffrent way fist is input as integer and secound convert string to integer
#1
# You can use float in the place of int

12

TypeError: ignored

In [59]:
Birth_year = int(input())
age = 2022 - Birth_year
print(age)

1997
25

In [60]:
#2 
Birth_year = input()
age = 2022 - float(Birth_year)
print(age)

1997
25.0

In [61]:
#Empty string is cant convert in to float or int

2. Take input A and B and print their sum, mul, div, square of the nos.

In [26]:
A= int(input("Enter Your Fist Number: "))
B= int(input("Enter Your Secound Number: "))
C= A+B
D= A*B
E= A/B
F=A*A
G=B**2
print(f"Sum of {C}")
print(f"Mul of {D}")
print(f"Div of {E}")
print(f"squre of fist number {F},squre of secound number {G}")

Enter Your Fist Number: 25
Enter Your Secound Number: 12
Sum of 37
Mul of 300
Div of 2.0833333333333335
squre of fist number 625,squre of secound number 144

2. How many reserve keywords are there in python and why we should not use them as a variable name.

3. In Python  there are apprximte 35 reserved keywords
 You can see this list any time by typing help ("keywords") 
 to the Python interpreter.

In [29]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [31]:
fistname,lastname = input("enter your fist name:  "), input("Enter your Last name : ")
print("Your  email id is")
print(f"{lastname.lower()}.{fistname.lower()}@gmail.com")

enter your fist name:  Dnyaneshwar
Enter your Last name : More
Your  email id is
more.dnyaneshwar@gmail.com

5. Try to print the following lines -
 - Hi I'm Sunny
 - My address is 22\3
 - I earn 20$ daily.

In [33]:
name,address,income = input("Enter your Name: "), input("Enter Your Address: "), float(input("How many you earn in Year"))
print(f"""
       - Hi I'm {name}
       - My address is {address}
       - I earn {income}$daily.
      """)

Enter your Name: MD
Enter Your Address: PO
How many you earn in Year2

       - Hi I'm MD
       - My address is PO
       - I earn 2.0$daily.

6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [34]:
import datetime

In [38]:
fistname,lastname,address,DOB,College= input("Enter Your FistName: "),input("Enter Your Last Name: "), input("inter your Address: "), datetime.date(int(input("Enter Your Birth Year: ")),int(input("Enter Your Birth Month: ")),int(input("Enter Your Birth Date: "))),input("Enter Your College Name: |")

print(f"""
      Student Name : {fistname} {lastname}
      Address      : {address}
      Date of Birth: {DOB}
      College Name : {College}
      College Email: {lastname.lower()}.{fistname.lower()}@{College.lower()}.ac.in
""")

Enter Your FistName: Dnyaneshwar
Enter Your Last Name: More
inter your Address: Potewadi
Enter Your Birth Year: 1997
Enter Your Birth Month: 06
Enter Your Birth Date: 15
Enter Your College Name: |KTHM

      Student Name : Dnyaneshwar More
      Address      : Potewadi
      Date of Birth: 1997-06-15
      College Name : KTHM
      College Email: More.Dnyaneshwar@KTHM.ac.in

7. Convert the following - 
  - "22.4" into integer
  - "22" into complex no.

In [43]:
A = "22.4"
B = int(float(A))
print(B)

22

In [48]:
G= "22"
Z= complex(G)
print(Z)
print(type(Z))

(22+0j)
<class 'complex'>