<h1 align=center><font size = 10>Full Stack Data Science BootCamp 2.0</font></h1>
<h2 align=center><font size = 7>Python Basic</font></h2>

<h3 align=left><font size = 5>Programming_Assignment_2</font></h3>
<h4 align=left><font size = 4>Dnyaneshwar More</font></h4>

###  11. Write a Python program to convert kilometers to miles?

#### Answere

In [27]:
def ctom(c):
    print(f"miles= {c*0.625}")

In [28]:
A=[12,196,6,1077,3.14]
for i in A:
    ctom(i)

miles= 7.5
miles= 122.5
miles= 3.75
miles= 673.125
miles= 1.9625000000000001

###  2. Write a Python program to convert Celsius to Fahrenheit?

#### Answere

In [29]:
def ctof(c):
    B=(c*(9/5)) + 32
    print(f"Fahrenheut= {B}")

In [30]:
A=[12,196,6,1077,3.14]
for i in A:
    ctof(i)

Fahrenheut= 53.6
Fahrenheut= 384.8
Fahrenheut= 42.8
Fahrenheut= 1970.6000000000001
Fahrenheut= 37.652

###  3. Write a Python program to display calendar?

#### Answere

In [31]:
import calendar
def Cal_year(year):
    print(calendar.calendar(year))
def Cal_Month(mm,year):
    print(calendar.month(mm,year))

In [32]:
m=5
y=2022
Cal_year(y)
"""--------------------------------------------------------------------"""
Cal_Month(y,m)

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

      May 2022
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

###  4. Write a Python program to solve quadratic equation?

#### Answere
   there are two X value get those are X1 and X2 if quadratic euation is ax^2+Bx+c=0 then quadratic euation formula is

In [33]:
import math
def QE(a,b,c):
    d=(b*b-(2*a*c))**0.5
    print(f"X1={(-b-d)/(2*a)},X2={(-b+d)/(2*a)}")

In [34]:
A=[[1,4,5],[6,5,2],[122,655,321],[876,1024,165]]
for i in range(0,len(A)):
    QE(A[i][0],A[2][1],A[i][2])
    print(A[i])

X1=-654.9961831838655,X2=-0.0038168161344742657
[1, 4, 5]
X1=-109.16513992775737,X2=-0.0015267389093006993
[6, 5, 2]
X1=-5.111475963481481,X2=-0.25737649553491243
[122, 655, 321]
X1=-0.5873814124520605,X2=-0.16033548252510835
[876, 1024, 165]

###  5. Write a Python program to swap two variables without temp variable?

#### Answere

In [35]:
def Swap(A,B):
    print(f"Before {A} | {B}",end=",")
    A,B=B,A
    print(f"After {A} | {B}")

In [36]:
A=[["Hello","Dnyaneshwar"],["Vishnu","MOre"],[0,14],[0,True],[False,"Nive"]]
for i in range(0,len(A)):
    Swap(A[i][0],A[i][1])

Before Hello | Dnyaneshwar,After Dnyaneshwar | Hello
Before Vishnu | MOre,After MOre | Vishnu
Before 0 | 14,After 14 | 0
Before 0 | True,After True | 0
Before False | Nive,After Nive | False