<h1 align=center><font size = 10>Full Stack Data Science BootCamp 2.0</font></h1>
<h2 align=center><font size = 7>Python Basic</font></h2>

<h3 align=left><font size = 5>Assignment_1</font></h3>
<h4 align=left><font size = 4>Dnyaneshwar More</font></h4>

## 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
- '*'
- &
- hello
- 87.8
- /
- '+'
- 6

### Answer : 
#### Following are operators:
           *,-,/,+
#### Following are values:
         'hello', -87.8, 6

## 2. What is the difference between string and variable?

#### Answer:
    - Variable is a name given to the memory location where the values is stored in the memory - avariables are containers 
    for storing data value, a python variable can take any values, like, int, float or string. 
        Example numA = 23, numB = 23.5, strVal = 'Bhanu'
        
    - String represents a text value enclosed with in two double quotes or two single quotes. 
        Example "Bhanu", "Bhanu0925"

## 3. Describe three different data types.

#### Answer: 
##### Three data types in python
    - int - A positive or negative whole number without a decimal point. example  a = 10
    - floating point numbers - A positive or negative whole number with a decimal point. b = 10.5
    - string - any text with in two single or double quotes. c = 'ER0M'

In [1]:
a = 10
type(a)

int

In [2]:
b = 7.9
type(b)

float

In [3]:
c = "Hello"
type(c)

str

## 4.What is an expression made up of? What do all expressions do?

#### Answer:
    - An Expression is a combination of variables and operators.
    There expressions perform operation of variable based on 
    the operators and evaluates the values to a single variable.

In [4]:
# variables 
a = 10
b = 20

# The expression - sum
c = a + b
    
# Evalues and store the value in C
print(f"sum of two integers \n c = {a} + {b} = {c}")

sum of two integers
 c = 10 + 20 = 30

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

#### Answer:
    - The assignemnt statemets assign a value to the variable.
    - The expressions evalues the value to a variable.
    - in spam = 10 , value 10 in assigned to spam, and now spam will have value 10.
    - But in expression a = C+B, the value of a depends on the value of C and B.

## 6. After running the following code, what does the variable bacon contain? 
       - bacon = 22
       - bacon + 1

#### Answer:
- becon will still have value 22.

- The becon is assinged with 22, but becon + 1 is not reassigned to becon again like, becon= becon + 1. So the value of becon is not changed by one

In [12]:
bacon = 22
bacon + 1

print(f"Bacon New Value {bacon}")

Bacon New Value 22

## 7. What should the values of the following two terms be?
      - 'spam' + 'spamspam'
      - 'spam'*3

#### Answer: Both outputs 'spamspamspam'

In [6]:
print("spam + spamspam = "  'spam'+'spamspam')
a= 'spam'
print(f"spam * 3 =  {a*3}")

spam + spamspam = spamspamspam
spam * 3 =  spamspamspam

## 8. Why is eggs a valid variable name while 100 is invalid?

#### Answer:
    - In variable name condition A variable name must be started with a latter or an underscore Charaster otherwise  and variable name is not symbol those variable name isvalid otherwise all variable names is invalid 

    1. Here eggs variable name with chaster and there is no any symbol therfore the eggs variable name is valid
    2. here variable name 100 the variable name start with numeric therfore this variable name is invalid

In [7]:
eggs= "red"

In [8]:
100 = "Black"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (4054403271.py, line 1)

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

#### Answer: The following functions 
    - int()
    - float()
    - str()  will convert the values to integer, float or string versions of the values passed to them

In [9]:
Var = 59.33

print(f"Int function = {int(Var)}")
print(f"Float function = {float(Var)}")
print("String function =", str(Var))

Int function = 59
Float function = 59.33
String function = 59.33

## 10. Why does this expression cause an error? How can you fix it?
 
 
     - 'I have eaten'  + 99 +  'burritos.'

#### Answer:
    - This will error out since string concatination with interger values can not be performed.
    This can be fixed by converting 99 into string by str(99)

In [10]:
'I have eaten '  + 99 +  ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [ ]:
'I have eaten '  + str(99) +  ' burritos.'