<h1 align=center><font size = 10>Full Stack Data Science BootCamp 2.0</font></h1>
<h2 align=center><font size = 7>Python Basic</font></h2>

<h3 align=left><font size = 5>Programming_Assignment_4</font></h3>
<h4 align=left><font size = 4>Dnyaneshwar More</font></h4>

### 1. Write a Python Program to Find the Factorial of a Number?

#### Answere

In [8]:
def Fact(N):
    a=1
    for i in range(1,N+1):
        a=a*i
    
    print(f"Factorial of {N} is = {a}")
Fact(3)

Factorial of 3 is =6

In [10]:
A=[4,3,6,12,9,15]
for i in A:
    Fact(i)

Factorial of 4 is =24
Factorial of 3 is =6
Factorial of 6 is =720
Factorial of 12 is =479001600
Factorial of 9 is =362880
Factorial of 15 is =1307674368000

### 2. Write a Python Program to Display the multiplication Table?

#### Answere

In [16]:
def mul(N):
    print(f"Multiplication table for {N}")
    for i in range(1,11):
        print(f"{N} X {i} = {i*N}")

In [17]:
for i in range(1,11):
    mul(i)

Multiplication table for 1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
Multiplication table for 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
Multiplication table for 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
Multiplication table for 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
Multiplication table for 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
Multiplication table for 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
Multiplication table for 7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
Multiplication table for 8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
Multiplication table for 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
Multiplication table for 10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

### 3. Write a Python Program to Print the Fibonacci sequence?

#### Answere

In [42]:
def Fibb(N):
    A=[1,1]
    if N<=0:
        print("Incorrect Input")
    else:
        if N==1:
            print(f"fibbonacci sequence is {A[0]}")
        elif N==2:
            print(f"fibbonacci sequence is {A}")
        else:
            for i in range(2,N+1):
                a=A[i-1]+A[i-2]
                A.append(a)
            print(f"fibbonacci sequence is {A}")

In [49]:

for i in range(-11,21):
    Fibb(i)

Incorrect Input
Incorrect Input
Incorrect Input
Incorrect Input
Incorrect Input
Incorrect Input
Incorrect Input
Incorrect Input
Incorrect Input
Incorrect Input
Incorrect Input
Incorrect Input
fibbonacci sequence is 1
fibbonacci sequence is [1, 1]
fibbonacci sequence is [1, 1, 2, 3]
fibbonacci sequence is [1, 1, 2, 3, 5]
fibbonacci sequence is [1, 1, 2, 3, 5, 8]
fibbonacci sequence is [1, 1, 2, 3, 5, 8, 13]
fibbonacci sequence is [1, 1, 2, 3, 5, 8, 13, 21]
fibbonacci sequence is [1, 1, 2, 3, 5, 8, 13, 21, 34]
fibbonacci sequence is [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
fibbonacci sequence is [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
fibbonacci sequence is [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
fibbonacci sequence is [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]
fibbonacci sequence is [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]
fibbonacci sequence is [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
fibbonacci sequence is [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]
fibbonacci sequence is [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]
fibbonacci sequence is [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584]
fibbonacci sequence is [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]
fibbonacci sequence is [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]
fibbonacci sequence is [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]

### 4. Write a Python Program to Check Armstrong Number?

#### Answere

In [68]:
def arm(N):
    n=len(str(N))
    A=[]
    
    for i in str(N):
        A.append(i)
    b=0
    for i in A:
        b+=int(i)**n
    if b==N:
        print(f"The Number {N} is an armstrong Number")
    else:
        print(f"The Number {N} is not armstrong Number")

In [69]:
A=[153,9474,1234,1546,1634]
for i in A:
    arm(i)

The Number 153 is an armstrong Number
The Number 9474 is an armstrong Number
The Number 1234 is not armstrong Number
The Number 1546 is not armstrong Number
The Number 1634 is an armstrong Number

### 5. Write a Python Program to Find Armstrong Number in an Interval?

#### Answere

In [72]:
def farm(a,b):
    s=[]
    for k in range(a,b+1):
        n=len(str(k))
        A=[]
        for i in str(k):
            A.append(i)
        c=0
        for i in A:
            c+=int(i)**n
        if k==c:
            s.append(k)
        else:
            continue
    print(f"The armstrong numbers between {a} to {b} is {s} ")

In [76]:
farm(0,5000000)

The armstrong numbers between 0 to 5000000 is [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084, 548834, 1741725, 4210818]

In [58]:
A=1234
for i in str(A):
    print(int(i))

1
2
3
4

### 6. Write a Python Program to Find the Sum of Natural Numbers?

#### Answere

In [81]:
def sumn(A):
    c=0
    for i in A:
        c+=i
    print(f"Sum of given natural Numbers is = {c}")

In [82]:
A=[12,45,31,65,23,87,98]
sumn(A)

Sum of given natural Numbers is = 361