<h1 align=center><font size = 10>Full Stack Data Science BootCamp 2.0</font></h1>
<h2 align=center><font size = 7>Python Basic</font></h2>

<h3 align=left><font size = 5>Programing Assignment_23</font></h3>
<h4 align=left><font size = 4>Dnyaneshwar More</font></h4>

##  Question 1  
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.  
Examples    
is_symmetrical(7227) ➞ True  
is_symmetrical(12567) ➞ False  
is_symmetrical(44444444) ➞ True  
is_symmetrical(9939) ➞ False  
is_symmetrical(1112111) ➞ True  

### Answere

In [1]:
def syn(b):
    a=str(b)
    A=0
    for i in range(int(len(str(a))/2)):
        if a[i]!=a[-1-i]:
            A=2
    if A==0:
        return True
    else:
        return False

In [2]:

print(syn(1597))
print(syn(7227))
print(syn(12567))
print(syn(44444444))

False
True
False
True

 ##  Question 2  
Given a string of numbers separated by a comma and space, return the product of the
numbers.  
Examples     
multiply_nums("2, 3") ➞ 6  
multiply_nums("1, 2, 3, 4") ➞ 24  
multiply_nums("54, 75, 453, 0") ➞ 0  
multiply_nums("10, -2") ➞ -20  

### Answere

In [3]:
def multiplya(a):
    c=1
    b= a.replace(" ","").split(',')
    for i in b:
        c=c*int(i)
    print(f'( {a} )  ==>  {c}')

In [4]:
multiplya("2, 3")
multiplya("1, 2, 3, 4")
multiplya("54, 75, 453, 0")
multiplya("10, -2")

( 2, 3 )  ==>  6
( 1, 2, 3, 4 )  ==>  24
( 54, 75, 453, 0 )  ==>  0
( 10, -2 )  ==>  -20

 ##  Question 3
Create a function that squares every digit of a number.  
Examples    
square_digits(9119) ➞ 811181  
square_digits(2483) ➞ 416649  
square_digits(3212) ➞ 9414  
Notes  
The function receives an integer and must return an integer.  

### Answere

In [5]:
def sqsuare(a):
    b=str(a)
    c=''
    for i in b:
        c = c+str(pow(int(i),2))
    print(f'( {a} )  ==>  {c}')

In [6]:
sqsuare(123432)
sqsuare(9119)
sqsuare(2483)
sqsuare(3212)

( 123432 )  ==>  1491694
( 9119 )  ==>  811181
( 2483 )  ==>  416649
( 3212 )  ==>  9414

 ##  Question 4  
Create a function that sorts a list and removes all duplicate items from it.  
Examples    
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]  
setify([4, 4, 4, 4]) ➞ [4]  
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]  
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]  

### Answere

In [7]:
def setify(a):
   c=sorted(set(a))
   print(f'( {a} )  ==>  {c}')

In [8]:
setify([1, 3, 3, 5, 5]) 
setify([4, 4, 4, 4])
setify([5, 7, 8, 9, 10, 15])
setify([3, 3, 3, 2, 1])

( [1, 3, 3, 5, 5] )  ==>  [1, 3, 5]
( [4, 4, 4, 4] )  ==>  [4]
( [5, 7, 8, 9, 10, 15] )  ==>  [5, 7, 8, 9, 10, 15]
( [3, 3, 3, 2, 1] )  ==>  [1, 2, 3]

 ##  Question 5  
Create a function that returns the mean of all digits.  
Examples    
mean(42) ➞ 3  
mean(12345) ➞ 3  
mean(666) ➞ 6  
Notes  
- The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in  
512 is (5+1+2)/3(number of digits) = 8/3=2).  
-   The mean will always be an integer.   

### Answere

In [9]:
def meean(a):
    b=0
    for i in str(a):
        b+=int(i)
    c=b/(len(str(a)))
    print(f'( {a} )  ==>  {c}')

In [10]:
meean(42)
meean(12345)
meean(666)

( 42 )  ==>  3.0
( 12345 )  ==>  3.0
( 666 )  ==>  6.0