<h1 align=center><font size = 10>Full Stack Data Science BootCamp 2.0</font></h1>
<h2 align=center><font size = 7>Python Basic</font></h2>

<h3 align=left><font size = 5>Assignment_20</font></h3>
<h4 align=left><font size = 4>Dnyaneshwar More</font></h4>

## Question 1.
 Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.
### Answere

In [1]:
test1= "this is a test of the emergency text system"
print(test1)

this is a test of the emergency text system

In [2]:
with open('test.txt','w') as file:
    file.write(test1)
    file.close

In [3]:
! type test.txt

this is a test of the emergency text system

## Question 2. 
Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?
### Answere

In [4]:
with open('test.txt','r') as file:
    test2 = file.read()
print(test2)
print(test1==test1)

this is a test of the emergency text system
True

## Question 3. 
Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960  
Perdido Street Station,China Miéville,2000  
Thud!,Terry Pratchett,2005  
The Spellman Files,Lisa Lutz,2007  
Small Gods,Terry Pratchett,1992  
### Answere

In [5]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

In [6]:
with open('book.csv','w') as file:
    file.write(data)
    file.close

## Question 4.
 Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).
### Answere

In [7]:
import sqlite3 
db = sqlite3.connect('book.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE books (title text, auther text, year int)")
db.commit()
db.close

OperationalError: table books already exists

## Question 5.
 Read books.csv and insert its data into the book table.
### Answere

In [8]:
import sqlite3 
import csv
conn = sqlite3.connect("book.db")
cursor = conn.cursor()
with open('book.csv','r') as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute('INSERT INTO books VALUES (?,?,?)',(book['title'],book['author'],book['year']))
conn.commit()
conn.close()

## Question 6.
 Select and print the title column from the book table in alphabetical order.
### Answere

In [9]:
import sqlite3
conn = sqlite3.connect('book.db')
cursor = conn.cursor()
output = cursor.execute("SELECT title FROM books ORDER BY title ASC")
for ele in output:
    print(ele[0])
conn.commit()
conn.close()

Perdido Street Station
Perdido Street Station
Perdido Street Station
Small Gods
Small Gods
Small Gods
The Spellman Files
The Spellman Files
The Spellman Files
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
Thud!
Thud!
Thud!

## Question 7.
 From the book table, select and print all columns in the order of publication.

### Answere

In [10]:
import sqlite3
conn = sqlite3.connect('book.db')
cursor = conn.cursor()
ouput = cursor.execute("SELECT * FROM books ORDER BY year")
for record in ouput:
    print(record)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Small Gods', 'Terry Pratchett', 1992)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Perdido Street Station', 'China Miéville', 2000)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('Thud!', 'Terry Pratchett', 2005)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)

## Question 8.
 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.
### Answere

In [11]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///book.db')
conn

Engine(sqlite:///book.db)

## Question 9.
 Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.
### Answere

In [12]:
! python -m pip install redis

Requirement already satisfied: redis in c:\users\er0m_dm\appdata\local\programs\python\python310\lib\site-packages (4.5.4)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\er0m_dm\appdata\local\programs\python\python310\lib\site-packages (from redis) (4.0.2)

In [ ]:

import redis

r = redis.Redis(host='localhost', port=6379, db=0)
r.delete('test')

result = r.hmset("test", {
  "count": 1,
  "name": 'Fester Bestertester'
})
r.hgetall("test")

## Question 
10. Increment the count field of test and print it.
### Answere

In [ ]:
r.hincrby("test","count",1)