<h1 align=center><font size = 10>Full Stack Data Science BootCamp 2.0</font></h1>
<h2 align=center><font size = 7>Python Basic</font></h2>

<h3 align=left><font size = 5>Assignment_16</font></h3>
<h4 align=left><font size = 4>Dnyaneshwar More</font></h4>

## Question 1. 
Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].
### Answere

In [7]:
def Years_list(a):
    years_list=[a]
    for i in range(1,6):
        years_list.append(a+i)
    return years_list

print(f'Years_list = {Years_list(1997)}')
years_list =Years_list(1997)

Years_list = [1997, 1998, 1999, 2000, 2001, 2002]

## Question 2.
 In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.
### Answere

In [8]:
years_list[3]

2000

## Question 3.
In the years list, which year were you the oldest?
### Answere

In [9]:
years_list[5]

2002

## Question 4.
 Make a list called things with these three strings as elements: "mozzarella", "cinderella",
"salmonella".
### Answere

In [10]:
things =["mozzarella", "cinderella","salmonella"]

## Question 5.
 Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?
### Answere

In [11]:
things[1].upper()

'CINDERELLA'

## Question 6.
 Make a surprise list with the elements "Groucho," "Chico," and "Harpo."
### Answere

In [16]:
SL = ["Groucho,","Chico,","Harpo"]

## Question 7.
 Lowercase the last element of the surprise list, reverse it, and then capitalize it.
### Answere

In [17]:
SL[2][::-1].upper()

'OPRAH'

## Question 8.
 Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.
### Answere

In [18]:
e2f= {'dog':'chin','cat':'chat','walrus':'morse'}

## Question 9.
 Write the French word for walrus in your three-word dictionary e2f.
### Answere

In [21]:
e2f['walrus'] = 'morse'
e2f['walrus']

'morse'

## Question 10.
 Make a French-to-English dictionary called f2e from e2f. Use the items method.
### Answere

In [22]:
f2e=e2f.items()

 ## Question 11.
 Print the English version of the French word chien using f2e.
### Answere

In [23]:
f2e

dict_items([('dog', 'chin'), ('cat', 'chat'), ('walrus', 'morse')])

 ## Question 12.
 Make and print a set of English words from the keys in e2f.
### Answere

In [24]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

 ## Question 13.
 Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants',
and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and
'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'.
Make all the other keys refer to empty dictionaries.
### Answere

In [25]:
life={'animals':{'cats':{'Henri', 'Grumpy' ,'Lucy'},'octopi':{},'emus':{}}}

 ## Question 14.
 Print the top-level keys of life.
### Answere

In [26]:
life.keys()

dict_keys(['animals'])

 ## Question 15.
 Print the keys for life['animals'].
### Answere

In [27]:
for i in life['animals']:
    print(i)

cats
octopi
emus

 ## Question 16.
 Print the values for life['animals']['cats']
### Answere

In [28]:
for key in life["animals"]['cats']:
    print(key)

Grumpy
Lucy
Henri